body {
    background-color: #0a0f0e;
    color: #cceeff;
    font-family: 'Courier New', Courier, monospace;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    font-size: 1.8em;
    color: #96f2d7;
}

.interview-frag {
    color: #96f2d7;
    font-weight: bold;
}

.interviewer {
    color: #d19fff;
}

.autophage {
    color: #f0c36d;
    font-weight: bold;
}

.cutoff {
    font-style: italic;
    color: #f25c5c;
}

.error {
    color: #ff3c3c;
    font-weight: bold;
}

.route {
    color: #ff3c3c;
}

.arg-notes {
    color: #eeeeee;
    margin-top: 20px;
}

.cipher {
    background-color: #1a1a1a;
    color: #f8f8f8;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
}

.translation {
    font-size: 0.9em;
    color: #00ff66;
    font-style: italic;
    margin-top: 4px;
}
