body {
  background-color: #0e0e10;
  color: #dcdcff;
  font-family: monospace;
  padding: 2rem;
}

h1 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.subtitle {
  margin: 1rem 0 2rem;
  font-size: 0.95rem;
  color: #ccccff;
}

p {
  line-height: 1.6;
  margin: 1rem 0;
}

ul {
  margin: 1rem 0 2rem 1.2rem;
}

ul li {
  margin-bottom: 0.6rem;
}

hr {
  border: 0;
  height: 1px;
  background: #333355;
  margin: 2rem 0;
}

.footer {
  font-size: 0.85rem;
  color: #999;
  margin-top: 2rem;
}

.note {
  color: #ffaaee;
  font-style: italic;
  display: block;
  margin-top: 0.5rem;
}

.available {
  color: #77ff77;
}

.unavailable {
  color: #ffaa66;
}

.removed {
  color: #ff6666;
}
